* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

h1 {
    color: white;
}

.square {
    width: 60px;
    background-color: white;
    aspect-ratio: 1;
}

.bg_main {
    background-color: #083b4c;
}

.bg_number {
    background-color: #1389b2;
}

.bg_fizz {
    background-color: #1389b2;
}

.bg_buzz {
    background-color: #ffd166;
}

.bg_fizzbuzz {
    background-color: #f0466f;
}