* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 65, 1);
}

h1 {
    color: white;
}

.square {
    width: 60px;
    background-color: white;
    aspect-ratio: 1;
}